<h2>User Info</h2>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <p>error!</p>
  <% end %>
  <p>name</p>
  <%= f.text_field :name, class: "name" %>
  <p>image</p>
  <%= f.attachment_field :profile_image %>
  <p>introduction</p>
  <%= f.text_area :intro %>
  <%= f.submit 'Update User' %>
  <% end %>
