<body>
	<div class="body">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<h2> User info</h2>
					<table class="table">
						<tbody>
							<tr>
								<th>name</th>
								<th><%= current_user.name %></th>
							</tr>
							<tr>
								<th>introduction</th>
								<th><%= current_user.intro %></th>
							</tr>
						</tbody>
					</table>



					<h2>New book</h2>
					<%= form_for(@book) do |f| %>
					<p>Title</p>
					<%= f.text_field :title %>
					<p>Opinion</p>
					<%= f.text_area :opinion %>
					<br>
					<%= f.submit 'Create book' %>
					<% end %>
				</div>

				<div class="col-lg-9">

					<h2>Users</h2>
					<table class="table">
						<thead>
							<tr>
								<th>image</th>
								<th>name</th>
								<th colspan="1"></th>
							</tr>
						</thead>
						<% @users.each do |user| %>
						<tbody>
							<tr>
								<td> image </td>
								<td> <%= user.name %> </td>
								<td> <%= link_to "show", user_path(user.id) %> </td>
							</tr>
						</tbody>
						<% end %>
					</table>
				</table>
			</div>
		</div>
	</div>
</body>