<body>
	<div class="body">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<h2> User info</h2>
					<%= attachment_image_tag @user,:profile_image,:fill,60,60 %>
					<table class="table">
						<tbody>
							<tr>
								<th>name</th>
								<th><%= @user.name %></th>
							</tr>
							<tr>
								<th>introduction</th>
								<th><%= @user.intro %></th>
							</tr>
						</tbody>
					</table>
					setting
					<div class="row">
						<a class="" href=""></a>
					</div>
					<div>

						<h2>New book</h2>
						<%= form_for(@book) do |f| %>
						<p>Title</p>
						<%= f.text_field :title %>
						<p>Opinion</p>
						<%= f.text_area :opinion %>
						<br>
						<%= f.submit 'Create book' %>
						<% end %>
					</div>

					<div class="col-lg-9">
						<h2>Users</h2>
						<table class="table">
							<thead>
								<tr>
									<th></th>
									<th>Title</th>
									<th>Opinion</th>
									<th colspan="3"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td> image </td>
									<td> title </td>
									<td> opinion </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>