<div class="body">
	<div class="container">
		<% if flash[:notice] %>
		<p><%= flash[:notice] %></p>
		<% end %>
		<div class="row">
			<div class="col-lg-3">
				<h2> User info</h2>
				<%= attachment_image_tag @user,:profile_image,:fill,60,60,format:'jpeg',fallback:"no_image.jpg",size: '60x60' %>
				<table class="table">
					<tbody>
						<tr>
							<th>name</th>
							<th><%= @user.name %></th>
						</tr>
						<tr>
							<th>introduction</th>
							<th><%= @user.intro %></th>
						</tr>
					</tbody>
				</table> 

				<div class=row>
					<%= link_to edit_user_path(current_user.id),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" do %>
					<% end %>
				</div>

				<h2>New book</h2>
				<%= form_for(@book) do |f| %>
				<p>Title</p>
				<%= f.text_field :title, class: "col-xs-12 book_title" %>
				<p>Opinion</p>
				<%= f.text_area :opinion, class: "col-xs-12 book_body" %>
				<br>
				<%= f.submit 'Create book' ,class: "btn btn-primary col-xs-12" %>
				<% end %>
			</div>

			<div class="col-lg-9">
				<h2>Books</h2>
				<table class="table">
					<thead>
						<tr>
							<th colspan="1"></th>
							<th>Title</th>
							<th>Opinion</th>
						</tr>
					</thead>
					<% @books.each do |book| %>
					<tbody>
						<tr>
							<td> <%= attachment_image_tag @user,:profile_image,:fill,60,60,format: 'jpeg',fallback:"no_image.jpg",size: '40x40' %> </td>
							<td> <%= link_to book.title,book_path(book.id),class: "book_#{book.id}" %> </td>
							<td> <%= book.opinion %> </td>
						</tr>
					</tbody>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>